<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center><h1>Admin Login</h1></center>
    <form method="post" action="http://localhost:3001/login">
      <input name="email" type="text" placeholder="Enter your email" />
      <input name="pass" type="password" placeholder="Enter your email" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>